<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home page</title>

		<!-- build:js /home/static/js/dist/combined.js -->
		<script type="text/javascript" src="/public/lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/home/static/js/script_0.js"></script>
		<script type="text/javascript" src="/home/static/js/script_1.js"></script>
		<script type="text/javascript" src="/home/static/js/script_2.js"></script>
		<!-- endbuild -->

		<!-- build:css /home/static/css/dist/combined.css -->
		<link rel="stylesheet" type="text/css" href="/home/static/css/index_style.css">
		<!-- endbuild -->

	</head>
	<body>
		<h1 class="test-class">Hello World!</h1>
		<br/>
		Server time = {{time}}
		<br/>
		<img src="/home/static/images/test_image.jpg" />
		<br/>
	</body>
</html>
